*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e6d9d9;
}

.food-pic{
    display: block;
    margin: 60px auto;
    width: 600px;
    height: auto;
    border: 5px rgba(41, 40, 40, 0.635); 
    border-radius: 8px;
}