*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fefafa;
    height: 100%;
    margin: 0;
}

.food-pic{
    display: block;
    margin: 60px auto;
    width: 600px;
    height: auto;
    border: 1px solid rgba(27, 26, 26, 0.635); 
    border-radius: 8px;
}

.title{
    display: block;
    text-align: center;
    height: 100%;
    padding: 20px;
    background-color: rgb(170, 221, 230);
    border-bottom: 4px solid black; 
}

.recipe-links{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.recipe-links li{
    flex: 1;
}

.recipe-links a{
    text-decoration: none;
    color: #fefafa;
    display: flex;
    justify-content: center;;
    align-content: center;
    height: 100%;
    padding: 60px 20px;
    margin: 15px;
    background-color: rgb(38, 36, 36);
    border: 2px solid rgb(170, 221, 230);
}

li a:hover{
    color: black;
    font-weight: bold;
    background-color: rgb(170, 221, 230);
    border: 2px solid black;
}

.content{
    padding: 20px;
}